@model IEnumerable<TRY.Models.Donate>

@{
    ViewData["Title"] = "Index";
}

<h1>Here the data about clarifying donation:</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrnId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donation_Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donation_Medium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>*@
<table class="table">
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrnId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donation_Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donation_Medium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
